.polygon{
    /*-fx-background-radius: 10em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;*/
    -fx-background-color: transparent;
}
.grid-pane {
    -fx-background-image: url("pojemniki.png");
    -fx-background-size: 100% 100%;
}
.background{
    -fx-background-image: url("tło.png");
    -fx-background-size: 100% 100%;
}