.polygon{
    /*-fx-background-radius: 10em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;*/
    -fx-background-color: transparent;
}
.grid-pane {
    -fx-background-image: url("pojemniki.png");
    -fx-background-size: 100% 100%;
}
.background{
    -fx-background-image: url("tło.png");
    -fx-background-size: 100% 100%;
}
.player-label {
    -fx-text-fill: black;
    -fx-font-size: 32px;
    -fx-effect: dropshadow(gaussian, white, 0.07, 0, 2, 2),
    dropshadow(gaussian, white, 0, 0.07, 2, 2),
    dropshadow(gaussian, white, -0.07, 0, 2, 2),
    dropshadow(gaussian, white, 0, -0.07, 2, 2);
}
.action-label {
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(gaussian, white, 0.07, 0, 2, 2),
    dropshadow(gaussian, white, 0, 0.07, 2, 2),
    dropshadow(gaussian, white, -0.07, 0, 2, 2),
    dropshadow(gaussian, white, 0, -0.07, 2, 2);
}